body {
  background-image: url('./Images/smoke-background.avif');
  background-size: cover;
}

#reviewBox {
  border: solid black;
}

#header{
  font-family: NSimSun;
  font-size: 80px;
  color: white;
}

.on {
  color: rgb(236, 236, 44);
}

.off {
  color: rgb(187, 161, 161);
}

#cardBod {
  background-color: rgb(5, 134, 134);
}

#starButton {
  background-color: black;
}